InsantiyEngine++/InsantiyEngine++.sdf
InsantiyEngine++/Debug/
InsantiyEngine++/InsantiyEngine++/Debug/
InsantiyEngine++/.vs/InsantiyEngine++/v15/.suo
InsantiyEngine++/.vs/
InsantiyEngine++/InsantiyEngine++.v11.suo
InsantiyEngine++/RedStd/Debug/
InsantiyEngine++/RedStd Unit Test/
InsantiyEngine++/RedStd/RedStd Unit Test/
InsantiyEngine++/RedStd/x64/
