InsantiyEngine++/InsantiyEngine++.sdf
InsantiyEngine++/Debug/
InsantiyEngine++/InsantiyEngine++/Debug/
InsantiyEngine++/.vs/InsantiyEngine++/v15/.suo
InsantiyEngine++/.vs/
InsantiyEngine++/InsantiyEngine++.v11.suo
InsantiyEngine++/RedStd/Debug/
InsantiyEngine++/RedStd Unit Test/
InsantiyEngine++/RedStd/RedStd Unit Test/
InsantiyEngine++/RedStd/x64/
InsantiyEngine++/x64/Debug/RedStd.pdb
InsantiyEngine++/x64/Debug/RedStd.lib
InsantiyEngine++/Release/RedStd.log
InsantiyEngine++/Release/RedStd.lib
InsantiyEngine++/RedStd/Release/test-vector2.obj
InsantiyEngine++/RedStd/Release/test-main.obj
InsantiyEngine++/RedStd/Release/RedStd.tlog/RedStd.lastbuildstate
InsantiyEngine++/RedStd/Release/RedStd.tlog/Lib.command.1.tlog
InsantiyEngine++/RedStd/Release/RedStd.tlog/Lib-link.write.1.tlog
InsantiyEngine++/RedStd/Release/RedStd.tlog/Lib-link.read.1.tlog
InsantiyEngine++/RedStd/Release/RedStd.tlog/CL.write.1.tlog
InsantiyEngine++/RedStd/Release/RedStd.tlog/CL.read.1.tlog
InsantiyEngine++/RedStd/Release/RedStd.tlog/CL.command.1.tlog
InsantiyEngine++/RedStd/Release/RedStd.pdb
InsantiyEngine++/RedStd/Release/Rect.obj
InsantiyEngine++/InsantiyEngine++/Release/vc141.pdb
InsantiyEngine++/InsantiyEngine++/Release/InsantiyEngine++.tlog/unsuccessfulbuild
InsantiyEngine++/InsantiyEngine++/Release/InsantiyEngine++.tlog/InsantiyEngine++.lastbuildstate
InsantiyEngine++/InsantiyEngine++/Release/InsantiyEngine++.tlog/CL.command.1.tlog
InsantiyEngine++/InsantiyEngine++/Release/InsantiyEngine++.log
